.mh-100vh {
    min-height: 100vh;
}

.content h1 {
    font-size: 1.7rem;
}

.border-box {
    box-sizing: border-box;
}

.b-no {
    border: none !important;
}

.b-1px {
    border: 1px solid var(--el-border-color-light);
}

.h-100p {
    height: 100% !important;
}

.bg-c, .el-header, .el-footer {
    background-color: var(--el-bg-color-overlay);
}

.el-card {
    --el-card-border-radius: 1rem !important;
    box-shadow: none !important;
}

.el-main {
    --el-main-padding: 1rem !important;
}

.el-header .el-menu:not(.el-menu--collapse) .el-sub-menu__title {
    padding-right: var(--el-menu-base-level-padding);
}

.el-header .el-menu--horizontal > .el-sub-menu.is-active .el-sub-menu__title {
    border-bottom: none;
}

.el-header .el-menu--horizontal>.el-sub-menu .el-sub-menu__title:hover {
    background-color: unset;
}

.b-r-1 {
    border-radius: 1rem !important;
}

.m-1 {
    margin: 1rem !important;
}

.m-l-1 {
    margin-left: 1rem !important;
}

.m-r-1 {
    margin-right: 1rem !important;
}

.p-1 {
    padding: 1rem !important;
}
