.min-100vh {
    min-height: 100vh;
}

.content h1 {
    font-size: 1.7rem;
}

.border-box {
    box-sizing: border-box;
}

.border-none {
    border: none !important;
}

.height-100 {
    height: 100% !important;
}

.el-card {
    --el-card-border-radius: 1rem !important;
    box-shadow: none !important;
}

.el-main {
    --el-main-padding: 1rem !important;
}

.el-header > .el-menu:not(.el-menu--collapse) .el-sub-menu__title {
    padding-right: var(--el-menu-base-level-padding);
    border-radius: 0 1rem 1rem 0;
    height: 100%;
}

.el-header > .el-menu--horizontal > .el-sub-menu.is-active .el-sub-menu__title {
    border-bottom: none;
}

.border-radius-1rem {
    border-radius: 1rem !important;
}

.margin-1rem {
    margin: 1rem !important;
}

.margin-left-1rem {
    margin-left: 1rem !important;
}

.margin-right-1rem {
    margin-right: 1rem !important;
}

.padding-1rem {
    padding: 1rem !important;
}
